@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.status-true {
    text-decoration: line-through;
}
.email-object:hover {
    background-color: rgb(155, 238, 199);
    text-shadow: 1px 1px 2px pink;
    height: 13%;
    font-size: 1.2em;
    vertical-align: middle;
}
a {
    text-decoration: none; 
    color: black; 
}
.btn:hover {
    font-size: 1.5em;
}