<h1 class="text-center mb-5">Gmail like</h1>
  <div id="buttons-container" class="d-flex flex-around ">
    <%= button_to "CREATE", emails_path, action: "create", remote: true, :class => "btn btn-danger mb-5 ml-5" %>  
      
      
    </div>
  <div class="container-fluid d-flex flex-row">
    
    <div class="row">
      <div id="objects-container" class="container column col-4 p-5 border bg-light">
      <h3 class="text-center mb-5 bg-secondary text-white p-4">OBJECT</h3>
      <% @emails.each do |email|%>
        <%= render 'email_object', email: email %>
      <% end %>
      </div>
      <div  class="container column d-flex flex-column col-8 p-5 border bg-light align-items-center ">
        <h3 class="text-center mb-5 bg-secondary text-white p-4 align-self-stretch">BODY</h3>
        <div id="card-inside">
          <div class="floating">
          <div class="card-object rotate">
            <header></header>
            <aside></aside>
            <main><blockquote id="bodies-container" class="message"></blockquote></main>
            
          </div>
          </div>
        </div> 
      </div>
    </div>
</div>
<% @emails.each do |email| %>
 <script>

    $(document).ready(function(){
      $('#email-object-<%=email.id%>').click(function(){
        $.ajax({
    url: "<%=email_path(email.id)%>",
    type:"GET",
    dataType: "script",
    success: function(result) {
      console.log(result)
      eval(result)
    },
    error: function(error) {
      console.log(`Error ${error}`)
    }
  })
      })
    })
  </script>
  <% end %>